<configuration>

	<appender name="CLI" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%thread] %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.kinancity.core.creation.PtcAccountCreationTask" level="DEBUG" additivity="false">
		<appender-ref ref="CLI" />
	</logger>
	

	<root level="INFO" additivity="false">
		<appender-ref ref="CLI" />
	</root>

</configuration>